This notebook is a demonstration of the SQLite Jupyter kernel.

You can write SQL as you would expect:

In [1]:
pragma foreign_keys = on;

create table albums (
  id integer not null primary key,
  name text,
  year integer
);

create table tracks (
  id integer not null primary key,
  album integer references albums,
  track integer,
  name text,

  unique (album, track)
);

The notebook also adds special commands like in the [command-line shell](https://www.sqlite.org/cli.html). You can use `.help` to get more information on these commands:

In [2]:
.help import

.import FILE TABLE       Import data from FILE into TABLE
   Options:
     --ascii               Use \037 and \036 as column and row separators
     --csv                 Use , and \n as column and row separators
     --skip N              Skip the first N rows of input
     --schema S            Target table to be S.TABLE
   Notes:
     *  If TABLE does not exist, it is created.  The first row of input
        determines the column names.
     *  If neither --csv or --ascii are used, the input mode is CSV.

Let's import data from CSV files in this directory:

In [3]:
.import --skip 1 albums.csv albums
.import --skip 1 tracks.csv tracks

And do some basic analysis:

In [4]:
select
  name as "Album",
  year as "Year",
  (select count(*) from tracks where album = albums.id) as "Track Count"
from albums
group by 1
order by year asc;

1989|2014|16
reputation|2017|15

In [5]:
select
  track as "#",
  name as "Track"
from tracks
where album = (select id from albums where name = 'reputation')
order by 1;

1|...Ready For It?
2|End Game
3|I Did Something Bad
4|Don't Blame Me
5|Delicate
6|Look What You Made Me Do
7|So It Goes...
8|Gorgeous
9|Getaway Car
10|King Of My Heart
11|Dancing With Our Hands Tied
12|Dress
13|This Is Why We Can't Have Nice Things
14|Call It What You Want
15|New Year's Day